<%- include('../partial/head',{title:"Detalle"}) %>
<body>
    <% for (const key in banda) { %>
        <% if (key == 'genero') {   %>
            <p> <%= key %>: <a href="/bandas/generos/<%= banda[key]  %>"><%= banda[key] %></p></a>    
        <%  }else{ %>
            <p> <%= key %>: <%= banda[key] %></p>
        <% } %>
    <% } %>
</body>
</html>