<%- include('../partial/head',{title:"Detalle"}) %>
<body>
    <%- include('../partial/header') %>
    <main>
        <form action="/users/login" method="POST">
            <% if(locals.errores) {%>
                <p><%= errores.all %></p>
            <% } %>

            <label for="email">Email</label>
            <input type="email" name="correo" id="email" required value="<%= locals.correo ? correo : ""%>" >
            
            <% if(locals.errores && locals.errores.correo) {%>
                <p><%= errores.correo.msg %></p>
            <% } %>
            
            <label for="password">Contraseña</label>
            <input type="password" name="contrasena" id="password" value="<%= locals.contrasena ? contrasena : ""%>" >
            
            <% if(locals.errores && locals.errores.contrasena) {%>
                <p><%= errores.contrasena.msg %></p>
            <% } %>
            <label for="recuerdame">Desea que recordemos su sesion?</label><input type="checkbox" name="recuerdame" id="recuerdame">
            <button type="submit">Login</button>
        </form>
    </main>
    <footer>
    </footer>
</body>